api/web/assets/
.DS_Store
log/access.log
log/error.log
.env
app.yaml
db/*.sql
db/db.sql
google-app-credentials.json

/node_modules
yarn-error.log
package-lock.json
.idea
docker-compose-local-db.yml

docker-compose-local-db.yaml
api/gcp-key.json